    <div class="navbar-container">
      <div class="navbar" style="box-shadow: 0 0 15px rgb(204 167 167 / 48%);">
        <div class="logo-container">
          <h1 style="color:white">VESSEL BAND</h1>
        </div>
        <div class="list-container">
          <ul class="navbar-list">
            <li class="navbar-list-item">
              <%= link_to "HOME", root_path%>
            </li>
            <li class="navbar-list-item">
              <%= link_to "ABOUT US",about_path%>
            </li>
            <li class="navbar-list-item">
              <%= link_to "EVENTS",events_path%>
            </li>
            <li class="navbar-list-item">
              <%= link_to "GALLERY",gallery_path%>
            </li>
            <li class="navbar-list-item">
              <%= link_to "CONTACT", contact_path%>
            </li>
          </ul>
        </div>
      </div>
    </div>
